{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}


  <div class="col-12 mb-4 py-4">
      <h1 class="fw-bold mb-0">Pirates 40-man Roster</h1>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-12 mb-4">
          <div class="card border-0 shadow">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col">
                  <h2 class="fs-5 fw-bold mb-0">Total Players: {{ players|length }}</h2>
                </div>
                <div class="col text-end">
                  <a href="https://www.thebaseballcube.com/content/current_rosters/23/" class="btn btn-sm btn-primary">Source</a>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th class="border-bottom" scope="col">Player Name</th>
                    <th class="border-bottom" scope="col">Position</th>
                    <th class="border-bottom" scope="col">Age</th>
                    <th class="border-bottom" scope="col">Status</th>
                    <th class="border-bottom" scope="col">Height</th>
                    <th class="border-bottom" scope="col">Weight</th>
                    <th class="border-bottom" scope="col">Batting</th>
                    <th class="border-bottom" scope="col">Throwing</th>
                    <th class="border-bottom" scope="col">Birthday</th>
                    <th class="border-bottom" scope="col">Hometown</th>
                    <th class="border-bottom" scope="col">Highest Level</th>
                    <th class="border-bottom" scope="col">MLB Years</th>
                    <th class="border-bottom" scope="col">Stat Years</th>
                    <th class="border-bottom" scope="col">Draft Info</th>
                  </tr>
                </thead>
                <tbody>
                  {% for player in players %}
                  <tr>
                    <td><a href="{{ player.player_name_link }}">{{ player.player_name }}</a></td>
                    <td>{{ player.position }}</td>
                    <td>{{ player.age }}</td>
                    <td>{{ player.current_status }}</td>
                    <td>{{ player.height }}</td>
                    <td>{{ player.weight }}</td>
                    <td>{{ player.batting_hand }}</td>
                    <td>{{ player.throwing_hand }}</td>
                    <td><a href="{{ player.birthday_link }}">{{ player.birthday }}</a></td>
                    <td><a href="{{ player.hometown_link }}">{{ player.hometown }}</a></td>
                    <td>{{ player.highest_level_played }}</td>
                    <td>{{ player.year_in_mlb }}</td>
                    <td>{{ player.stat_years }}</td>
                    <td><a href="{{ player.draft_info_link }}">{{ player.draft_info }}</a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}